@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: olive;
        width: 5px;
        border-radius: 8px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgb(90, 90, 1)
    }
}